# Ignore the actual Conda environment folder if it's inside your project
env/
venv/
.venv/
bin/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore the Google API tokens
credentials.json
token.json

# Ignore other files
.DS_Store